h1 { 
    font-weight: lighter;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
    text-align: center;
    padding-top: 45px;
}

body {
    background-color: rgba(231, 228, 228, 0.945);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    color: rgb(70, 70, 70);
}

h3 {
    color: rgb(70, 70, 70);
    font-style: oblique;
    padding: auto;
    float:center;
    text-align: center;
}

h2 {
    color: rgb(70, 70, 70);
    overflow: auto;
    padding-top: 20px;
    padding-right: auto;
    text-align: center;
}

.about{
    overflow : auto;
    padding-left: 20%;
    margin-right: 10%;
    margin-bottom: 20%;
    text-align: justify;
    padding: 20%;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;

}
#foto {
    float: left; 
    padding: 5px;
    margin-top: 125px;
    background-color: rgb(204, 204, 204) ;
    border-radius: 30%;
}

ul {
    padding-left: 30px;
    overflow: auto;
    padding-top: 20px;
    padding-right: auto;
    text-align: justify;
    margin-left: 40%;
}

.cat.blog {
    color:rgb(70, 70, 70);
    text-decoration: none;
    overflow : auto;
    margin: 20,30,20,30;
    text-align: center;
    padding: 5%;
}
.ong {
    text-align: justify ;
    padding-left: 20;
    padding:20%;
    margin-right: 10%;
    margin-bottom: 20%;;
    overflow : auto;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;


}
.photo_ong {
    float: right;;
    padding: 5px;
    margin-bottom: 45px;
    background-color: rgb(204, 204, 204) ;
    border-radius: 30%;
}
.menu {
    font-family:'Lato', sans-serif; ;
    font-size: 20px;
    padding-left: 20px;
    margin-left: 20px;
    color:rgb(70, 70, 70);
    text-decoration: none;
}